
data/DEM_SE_Tas_mosaic.tif
data/DEM_SE_Tas_mosaic.tif.ovr
data/SurfaceHydrologyPolygonsRegional.gdb
*.lock

archived/Helicopter_travel_summary.html
20230914_helicopter_path_updated.html
archived/2023-913_helicopter_path_updated.html
r/helicopter_path_updated.html
r/helicopter_path_updated.html
r/helicopter_path_updated.html
r/helicopter_path_updated.html
r/helicopter_path_updated.html
